<h1>NFL</h1>
<ul>
  <li><%= link_to "Players", players_url %></li>
  <li><%= link_to "NFL Teams", pro_teams_url %></li>
</ul>

<h1>Fantasy</h1>
<ul>
  <li><%= link_to "Leagues", fantasy_leagues_url %></li>
</ul>
